.page-footer {
    padding: 50px 20px;
    background-color: @vblackcolor;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    &__title {
        font-family: Exo2, sans-serif;
        line-height: 30px;
        color: #ffffff;
        text-transform: none;
    }

    &__callback {
        width: 240px;
        height: 60px;
        margin-top: 10px;
        margin-bottom: 50px;
        background-color: @wbcolor-two;
        border: none;
        border-radius: 10px;
        -webkit-box-shadow: 0 14px 28px rgba(@orangecolor, 0.25), 0 10px 10px rgba(@wbcolor-two, 0.22);
        -moz-box-shadow: 0 14px 28px rgba(@orangecolor, 0.25), 0 10px 10px rgba(@wbcolor-two, 0.22);
        -ms-box-shadow: 0 14px 28px rgba(@orangecolor, 0.25), 0 10px 10px rgba(@wbcolor-two, 0.22);
        -o-box-shadow: 0 14px 28px rgba(@orangecolor, 0.25), 0 10px 10px rgba(@wbcolor-two, 0.22);
        box-shadow: 0 14px 28px rgba(@orangecolor, 0.25), 0 10px 10px rgba(@wbcolor-two, 0.22);
        color: #fff;
        font-family: Exo2, sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        transition: ease 0.25s;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: lighten(@wbcolor, 5%);
        }

        &:active {
            -webkit-box-shadow: 0 1px 3px rgba(@orangecolor, 0.12), 0 1px 2px rgba(@wbcolor, 0.24);
            -moz-box-shadow: 0 1px 3px rgba(@orangecolor, 0.12), 0 1px 2px rgba(@wbcolor, 0.24);
            -ms-box-shadow: 0 1px 3px rgba(@orangecolor, 0.12), 0 1px 2px rgba(@wbcolor, 0.24);
            -o-box-shadow: 0 1px 3px rgba(@orangecolor, 0.12), 0 1px 2px rgba(@wbcolor, 0.24);
            box-shadow: 0 1px 3px rgba(@orangecolor, 0.12), 0 1px 2px rgba(@wbcolor, 0.24);
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -ms-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
        }
    }

    &__nav {
        display: none;
    }

    &__logo-title {
        width: 200px;
        height: 80px;
        border-radius: 10px;
        background: linear-gradient(45deg, @ozoncolor 33%, @wbcolor 66%, @wbcolor);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        font-family: Exo2, sans-serif;
        font-size: 52px;
        font-weight: 900;
        color: #ffffff;
        letter-spacing: -4px;
        text-shadow: 1px 1px darken(@wbcolor, 20%),
        2px 2px darken(@wbcolor, 20%),
        3px 3px darken(@wbcolor, 20%),
        4px 4px darken(@wbcolor, 20%),
        5px 5px darken(@wbcolor, 20%),
        6px 6px darken(@wbcolor, 20%),
        7px 7px darken(@wbcolor, 20%),
        8px 8px darken(@wbcolor, 20%),
        9px 9px darken(@wbcolor, 20%),
        10px 10px darken(@wbcolor, 20%),
        11px 11px darken(@wbcolor, 20%),
        12px 12px darken(@wbcolor, 20%),
        13px 13px darken(@wbcolor, 20%),
        14px 14px darken(@wbcolor, 20%),
        15px 15px darken(@wbcolor, 20%),
        16px 16px darken(@wbcolor, 20%),
        17px 17px darken(@wbcolor, 20%),
        18px 18px darken(@wbcolor, 20%),
        19px 19px darken(@wbcolor, 20%),
        20px 20px darken(@wbcolor, 20%),
        21px 21px darken(@wbcolor, 20%),
        22px 22px darken(@wbcolor, 20%),
        23px 23px darken(@wbcolor, 20%),
        24px 24px darken(@wbcolor, 20%),
        25px 25px darken(@wbcolor, 20%),
        26px 26px darken(@wbcolor, 20%),
        27px 27px darken(@wbcolor, 20%),
        28px 28px darken(@wbcolor, 20%),
        29px 29px darken(@wbcolor, 20%),
        30px 30px darken(@wbcolor, 20%),
        31px 31px darken(@wbcolor, 20%),
        32px 32px darken(@wbcolor, 20%),
        33px 33px darken(@wbcolor, 20%),
        34px 34px darken(@wbcolor, 20%),
        35px 35px darken(@wbcolor, 20%),
        36px 36px darken(@wbcolor, 20%),
        37px 37px darken(@wbcolor, 20%),
        38px 38px darken(@wbcolor, 20%),
        39px 39px darken(@wbcolor, 20%),
        40px 40px darken(@wbcolor, 20%),
        41px 41px darken(@wbcolor, 20%),
        42px 42px darken(@wbcolor, 20%),
        43px 43px darken(@wbcolor, 20%),
        44px 44px darken(@wbcolor, 20%),
        45px 45px darken(@wbcolor, 20%),
        46px 46px darken(@wbcolor, 20%),
        47px 47px darken(@wbcolor, 20%),
        48px 48px darken(@orangecolor, 5%);
        padding: 0;
        margin: 0;
    }

    .ya-map {
        margin-top: 50px;
        width: 100%;
        height: 450px;
    }

    &__bottom {
        padding-top: 30px;
    }
}

@media (min-width: @tablet-width) {
    .page-footer {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__top,
        &__bottom {
            width: 45%;

        }
    }
}

@media (min-width: @desktop-width) {
    .page-footer {
        padding: 0;
        padding-bottom: 100px;

        &__wrapper {
            max-width: 1200px;
            margin: 0 auto;
            padding-top: 50px;
            flex-direction: column;
            align-items: start;
        }

        &__top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 70px;
        }

        &__logo-title {
            width: 300px;
            height: 120px;
            border-radius: 10px;
            background: linear-gradient(45deg, @ozoncolor 33%, @wbcolor 66%, @wbcolor);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            text-decoration: none;
            font-family: Exo2, sans-serif;
            font-size: 78px;
            font-weight: 900;
            color: #ffffff;
            letter-spacing: -4px;
            text-shadow: 1px 1px darken(@wbcolor, 20%),
            2px 2px darken(@wbcolor, 20%),
            3px 3px darken(@wbcolor, 20%),
            4px 4px darken(@wbcolor, 20%),
            5px 5px darken(@wbcolor, 20%),
            6px 6px darken(@wbcolor, 20%),
            7px 7px darken(@wbcolor, 20%),
            8px 8px darken(@wbcolor, 20%),
            9px 9px darken(@wbcolor, 20%),
            10px 10px darken(@wbcolor, 20%),
            11px 11px darken(@wbcolor, 20%),
            12px 12px darken(@wbcolor, 20%),
            13px 13px darken(@wbcolor, 20%),
            14px 14px darken(@wbcolor, 20%),
            15px 15px darken(@wbcolor, 20%),
            16px 16px darken(@wbcolor, 20%),
            17px 17px darken(@wbcolor, 20%),
            18px 18px darken(@wbcolor, 20%),
            19px 19px darken(@wbcolor, 20%),
            20px 20px darken(@wbcolor, 20%),
            21px 21px darken(@wbcolor, 20%),
            22px 22px darken(@wbcolor, 20%),
            23px 23px darken(@wbcolor, 20%),
            24px 24px darken(@wbcolor, 20%),
            25px 25px darken(@wbcolor, 20%),
            26px 26px darken(@wbcolor, 20%),
            27px 27px darken(@wbcolor, 20%),
            28px 28px darken(@wbcolor, 20%),
            29px 29px darken(@wbcolor, 20%),
            30px 30px darken(@wbcolor, 20%),
            31px 31px darken(@wbcolor, 20%),
            32px 32px darken(@wbcolor, 20%),
            33px 33px darken(@wbcolor, 20%),
            34px 34px darken(@wbcolor, 20%),
            35px 35px darken(@wbcolor, 20%),
            36px 36px darken(@wbcolor, 20%),
            37px 37px darken(@wbcolor, 20%),
            38px 38px darken(@wbcolor, 20%),
            39px 39px darken(@wbcolor, 20%),
            40px 40px darken(@wbcolor, 20%),
            41px 41px darken(@wbcolor, 20%),
            42px 42px darken(@wbcolor, 20%),
            43px 43px darken(@wbcolor, 20%),
            44px 44px darken(@wbcolor, 20%),
            45px 45px darken(@wbcolor, 20%),
            46px 46px darken(@wbcolor, 20%),
            47px 47px darken(@wbcolor, 20%),
            48px 48px darken(@orangecolor, 5%);
            padding: 0;
            margin: 0;
            transition: all 0.25s ease-in-out;

            &:hover {
                text-shadow: none;
                transition: all 0.25s ease-in-out;
            }
        }

        &__title {
            margin-top: 20px;
            text-transform: uppercase;
        }

        &__bottom {
            width: 100%;
            padding-top: 0;
        }

        .top-contacts {

            &__text {
                justify-content: space-between;
            }
        }

        &__nav {
            display: block;
            width: 60%;
        }

        &__nav-list {
            display: flex;
            justify-content: space-between;
        }

        &__nav-item {
            position: relative;
        }

        &__nav-link {
            text-decoration: none;
            text-transform: uppercase;
            color: #ffffff;
            
            &:hover,
            &:focus {
                color: @wbcolor;
                background:@gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: ease-in-out 0.7s;
            }
        }

        &__callback {
            margin-top: 30px;
        }
    }

    .footer-submenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30px;
        width: max-content;

        &__item {
            margin-bottom: 10px;
        }

        &__link {
            text-decoration: none;
            color: #ffffff;

            &:hover,
            &:focus {
                color: @wbcolor;
                    background:@gradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: ease-in-out 0.7s;
            }
        }
    }
}