.page-footer {
    padding: 50px 20px;
    background-color: @vblackcolor;

    &__title {
        font-family: Exo2, sans-serif;
        line-height: 30px;
        color: #ffffff;
        text-transform: none;
    }

    &__callback {
        width: 240px;
        height: 60px;
        margin-top: 10px;
        margin-bottom: 50px;
        background-color: @orangecolor;
        border: none;
        border-radius: 10px;
        -webkit-box-shadow: 0 14px 28px rgba(@orangecolor, 0.25), 0 10px 10px rgba(@wbcolor, 0.22);
        -moz-box-shadow: 0 14px 28px rgba(@orangecolor, 0.25), 0 10px 10px rgba(@wbcolor, 0.22);
        -ms-box-shadow: 0 14px 28px rgba(@orangecolor, 0.25), 0 10px 10px rgba(@wbcolor, 0.22);
        -o-box-shadow: 0 14px 28px rgba(@orangecolor, 0.25), 0 10px 10px rgba(@wbcolor, 0.22);
        box-shadow: 0 14px 28px rgba(@orangecolor, 0.25), 0 10px 10px rgba(@wbcolor, 0.22);
        color: #fff;
        font-family: Exo2, sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        transition: ease 0.25s;

        &:hover,
        &:focus {
            background-color: lighten(@orangecolor, 5%);
        }

        &:active {
            -webkit-box-shadow: 0 1px 3px rgba(@orangecolor, 0.12), 0 1px 2px rgba(@wbcolor, 0.24);
            -moz-box-shadow: 0 1px 3px rgba(@orangecolor, 0.12), 0 1px 2px rgba(@wbcolor, 0.24);
            -ms-box-shadow: 0 1px 3px rgba(@orangecolor, 0.12), 0 1px 2px rgba(@wbcolor, 0.24);
            -o-box-shadow: 0 1px 3px rgba(@orangecolor, 0.12), 0 1px 2px rgba(@wbcolor, 0.24);
            box-shadow: 0 1px 3px rgba(@orangecolor, 0.12), 0 1px 2px rgba(@wbcolor, 0.24);
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -ms-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
        }
    }

    &__nav {
        display: none;
    }

    &__logo-title {
        width: 200px;
        height: 80px;
        border-radius: 10px;
        background: linear-gradient(45deg, @orangecolor 33%, @redcolor 66%, @wbcolor);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        font-family: Exo2, sans-serif;
        font-size: 52px;
        font-weight: 900;
        color: #ffffff;
        letter-spacing: -4px;
        text-shadow: 1px 1px darken(@orangecolor, 5%),
        2px 2px darken(@orangecolor, 5%),
        3px 3px darken(@orangecolor, 5%),
        4px 4px darken(@orangecolor, 5%),
        5px 5px darken(@orangecolor, 5%),
        6px 6px darken(@orangecolor, 5%),
        7px 7px darken(@orangecolor, 5%),
        8px 8px darken(@orangecolor, 5%),
        9px 9px darken(@orangecolor, 5%),
        10px 10px darken(@orangecolor, 5%),
        11px 11px darken(@orangecolor, 5%),
        12px 12px darken(@orangecolor, 5%),
        13px 13px darken(@orangecolor, 5%),
        14px 14px darken(@orangecolor, 5%),
        15px 15px darken(@orangecolor, 5%),
        16px 16px darken(@orangecolor, 5%),
        17px 17px darken(@orangecolor, 5%),
        18px 18px darken(@orangecolor, 5%),
        19px 19px darken(@orangecolor, 5%),
        20px 20px darken(@orangecolor, 5%),
        21px 21px darken(@orangecolor, 5%),
        22px 22px darken(@orangecolor, 5%),
        23px 23px darken(@orangecolor, 5%),
        24px 24px darken(@orangecolor, 5%),
        25px 25px darken(@orangecolor, 5%),
        26px 26px darken(@orangecolor, 5%),
        27px 27px darken(@orangecolor, 5%),
        28px 28px darken(@orangecolor, 5%),
        29px 29px darken(@orangecolor, 5%),
        30px 30px darken(@orangecolor, 5%),
        31px 31px darken(@orangecolor, 5%),
        32px 32px darken(@orangecolor, 5%),
        33px 33px darken(@orangecolor, 5%),
        34px 34px darken(@orangecolor, 5%),
        35px 35px darken(@orangecolor, 5%),
        36px 36px darken(@orangecolor, 5%),
        37px 37px darken(@orangecolor, 5%),
        38px 38px darken(@orangecolor, 5%),
        39px 39px darken(@orangecolor, 5%),
        40px 40px darken(@orangecolor, 5%),
        41px 41px darken(@orangecolor, 5%),
        42px 42px darken(@orangecolor, 5%),
        43px 43px darken(@orangecolor, 5%),
        44px 44px darken(@orangecolor, 5%),
        45px 45px darken(@orangecolor, 5%),
        46px 46px darken(@orangecolor, 5%),
        47px 47px darken(@orangecolor, 5%),
        48px 48px darken(@orangecolor, 5%);
        padding: 0;
        margin: 0;
    }

    .ya-map {
        margin-top: 50px;
        width: 100%;
        height: 450px;
    }

    &__bottom {
        padding-top: 30px;
    }
}

@media (min-width: @tablet-width) {
    .page-footer {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__top,
        &__bottom {
            width: 45%;

        }
    }
}

@media (min-width: @desktop-width) {
    .page-footer {
        padding: 0;
        padding-bottom: 100px;

        &__wrapper {
            max-width: 1200px;
            margin: 0 auto;
            padding-top: 50px;
            flex-direction: column;
            align-items: start;
        }

        &__top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 70px;
        }

        &__logo-title {
            width: 300px;
            height: 120px;
            border-radius: 10px;
            background: linear-gradient(45deg, @orangecolor 33%, @redcolor 66%, @wbcolor);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            text-decoration: none;
            font-family: Exo2, sans-serif;
            font-size: 78px;
            font-weight: 900;
            color: #ffffff;
            letter-spacing: -4px;
            text-shadow: 1px 1px darken(@orangecolor, 5%),
            2px 2px darken(@orangecolor, 5%),
            3px 3px darken(@orangecolor, 5%),
            4px 4px darken(@orangecolor, 5%),
            5px 5px darken(@orangecolor, 5%),
            6px 6px darken(@orangecolor, 5%),
            7px 7px darken(@orangecolor, 5%),
            8px 8px darken(@orangecolor, 5%),
            9px 9px darken(@orangecolor, 5%),
            10px 10px darken(@orangecolor, 5%),
            11px 11px darken(@orangecolor, 5%),
            12px 12px darken(@orangecolor, 5%),
            13px 13px darken(@orangecolor, 5%),
            14px 14px darken(@orangecolor, 5%),
            15px 15px darken(@orangecolor, 5%),
            16px 16px darken(@orangecolor, 5%),
            17px 17px darken(@orangecolor, 5%),
            18px 18px darken(@orangecolor, 5%),
            19px 19px darken(@orangecolor, 5%),
            20px 20px darken(@orangecolor, 5%),
            21px 21px darken(@orangecolor, 5%),
            22px 22px darken(@orangecolor, 5%),
            23px 23px darken(@orangecolor, 5%),
            24px 24px darken(@orangecolor, 5%),
            25px 25px darken(@orangecolor, 5%),
            26px 26px darken(@orangecolor, 5%),
            27px 27px darken(@orangecolor, 5%),
            28px 28px darken(@orangecolor, 5%),
            29px 29px darken(@orangecolor, 5%),
            30px 30px darken(@orangecolor, 5%),
            31px 31px darken(@orangecolor, 5%),
            32px 32px darken(@orangecolor, 5%),
            33px 33px darken(@orangecolor, 5%),
            34px 34px darken(@orangecolor, 5%),
            35px 35px darken(@orangecolor, 5%),
            36px 36px darken(@orangecolor, 5%),
            37px 37px darken(@orangecolor, 5%),
            38px 38px darken(@orangecolor, 5%),
            39px 39px darken(@orangecolor, 5%),
            40px 40px darken(@orangecolor, 5%),
            41px 41px darken(@orangecolor, 5%),
            42px 42px darken(@orangecolor, 5%),
            43px 43px darken(@orangecolor, 5%),
            44px 44px darken(@orangecolor, 5%),
            45px 45px darken(@orangecolor, 5%),
            46px 46px darken(@orangecolor, 5%),
            47px 47px darken(@orangecolor, 5%),
            48px 48px darken(@orangecolor, 5%);
            padding: 0;
            margin: 0;
        }

        &__title {
            margin-top: 20px;
            text-transform: uppercase;
        }

        &__bottom {
            width: 100%;
            padding-top: 0;
        }

        .top-contacts {

            &__text {
                justify-content: space-between;
            }
        }

        &__nav {
            display: block;
            width: 60%;
        }

        &__nav-list {
            display: flex;
            justify-content: space-between;
        }

        &__nav-item {
            position: relative;
        }

        &__nav-link {
            text-decoration: none;
            text-transform: uppercase;
            color: #ffffff;
            
            &:hover,
            &:focus {
                color: @orangecolor;
                background: linear-gradient(45deg, @orangecolor 33%, @redcolor 66%, @wbcolor);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: ease-in-out 0.3s;
            }
        }

        &__callback {
            margin-top: 30px;
        }
    }

    .footer-submenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30px;
        width: max-content;

        &__item {
            margin-bottom: 10px;
        }

        &__link {
            text-decoration: none;
            color: #ffffff;

            &:hover,
            &:focus {
                color: @orangecolor;
                background: linear-gradient(45deg, @orangecolor 33%, @redcolor 66%, @wbcolor);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: ease-in-out 0.3s;
            }
        }
    }
}