.page-header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 10;
    transition: all 0.25s ease-in-out;
    
    &__wrapper {
        max-width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0 20px;
        
    }
}

@media (min-width: @desktop-width) {
    .page-header {
        &__wrapper {
            padding: 0;
            max-width: 1200px;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.fix {
    background-color: @vblackcolor;
    height: 45px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.25s ease-in-out;

    .nav {

        .menu {
            &__link {
                color: #ffffff;
            }
        }
        .submenu {
            margin-top: 31px;
        }
    }
}