.page-cases {
    &__wrapper {
        padding: 100px 20px 100px 20px;
        position: relative;
    }

    &__title {
        font-size: 24px;
        color: @wbcolor;
        font-family: Exo2, sans-serif;
        margin-bottom: 50px;
    }
}

.cases {

    &__title {
        font-size: 20px;
        line-height: 30px;
        font-family: Exo2, sans-serif;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    &__item {
        width: 100%;
        height: 320px;
        background: @vblackcolor;
        cursor: pointer;
        margin-bottom: 50px;
        overflow: hidden;
        padding: 20px;
        border-radius: 10px;
        transition: ease-in-out .5s;
        box-sizing: border-box;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        &:hover,
        &:focus {
            background: lighten(@vblackcolor, 15%);
        }

    }
}

.have-we-done,
.result,
.screens {
    &__title {
        font-family: Exo2, sans-serif;
        font-size: 16px;
        color: @ozoncolor;
    }

    &__list {
        padding-left: 20px;
    }

    &__item {
        margin-bottom: 15px;
        line-height: 24px;
        font-family: Inter, sans-serif;
        color: @vblackcolor;
    }
}

.screens {
    &__image-title {
        font-size: 14px;
    }

    img {
        max-width: 100%;
    }
}

.modal-case {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -36%);
    z-index: 8;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 10px 0 0 10px;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all .5s;

    &__wrapper {
        position: relative;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
}

.cross-modal {
    position: fixed;
    right: 0;
    top: -40px;
    z-index: 11;
    cursor: pointer;
}

.modal-case__active {
    display: block;
    width: 90%;
    height: 77%;
    opacity: 1;
    transition: all .5s;

    .cases__title {
        height: max-content;
        color: @vblackcolor;
    }
}

.modal-case__wrapper::-webkit-scrollbar {
    width: 2px;               /* ширина scrollbar */
}
.modal-case__wrapper::-webkit-scrollbar-track {
background: @gradient;        /* цвет дорожки */
}
.modal-case__wrapper::-webkit-scrollbar-thumb {
background-color: #ffffff;    /* цвет плашки */
border-radius: 20px;       /* закругления плашки */
//border: 3px solid @vblackcolor;  /* padding вокруг плашки */
}

@media (min-width: @tablet-width) {
    .cases {

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__item {
            width: 47%;
        }
    }

    .modal-case {
        height: 85%;
        transform: translate(-50%, -42%);
    }
}

@media (min-width: @desktop-width) {
    .page-cases {
        &__wrapper {
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    .cases__title {
        margin-bottom: 50px;
    }

    .modal-case__wrapper {
        padding: 50px;
    }

    .cross-modal {
        top: 10px;
        right: 10px;
    }
}