@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter-Light.woff2") format("woff2"),
    url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src:
    url("../fonts/Exo2-Regular.woff2") format("woff2"),
    url("../fonts/Exo2-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src:
    url("../fonts/Exo2-Bold.woff2") format("woff2"),
    url("../fonts/Exo2-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src:
    url("../fonts/Exo2-Light.woff2") format("woff2"),
    url("../fonts/Exo2-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}



body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}


.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.main {
  z-index: 1;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
}

* {
  font-variant-numeric: lining-nums; 
  -moz-font-feature-settings: "lnum"; 
  -webkit-font-feature-settings: "lnum"; 
  font-feature-settings: "lnum";
}


@tablet-width: 660px;
@desktop-width: 1200px;
@header-break: 1199px;

@redcolor: #e7244c;
@vblackcolor: #18131c;
@orangecolor: #fd7b56;
@tgcolor: #039be5;